<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="my first project">
        <title>News</title>
        <link rel="stylesheet" href="./css/style.css"> 
    </head>
    <body>
        <header class="header">
            <div class="container">
                <a href="#" class="header-link">Home</a>
                <a href="#" class="header-link">News</a>
                <a href="#" class="header-link">About</a>
            </div>
        </header>
        <main class="main">
            <section class="news">
                <div class="container">
                    <a href="#" class="button_blue">Back</a>
                    <h1>title</h1>
                    <p><strong>28.05.2024</strong></p>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit ...</p>
                </div>
            </section>
        </main>         
        <footer class="footer">
            <div class="container">
                <p>&copy; 2024 Devoloped by test</p>
            </div>
        </footer>
    </body>
</html>